<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>easyUITree</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	 <!-- 获得毕业设计进程的内容 -->
	<servlet>
		<servlet-name>getGP</servlet-name>
		<servlet-class>com.zr.action.GetGP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getGP</servlet-name>
		<url-pattern>/getGP</url-pattern>
	</servlet-mapping>
	
	 <!-- 小小少年-->
	<servlet>
		<servlet-name>大大</servlet-name>
		<servlet-class>com.zr.action.LoginAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
</web-app>