<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>easyUITree</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
<!-- 	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.zr.action.LoginAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>show</servlet-name>
		<servlet-class>com.zr.action.ShowAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>show</servlet-name>
		<url-pattern>/show</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>showRoles</servlet-name>
		<servlet-class>com.zr.action.ShowFunctionAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>showRoles</servlet-name>
		<url-pattern>/showRoles</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>showFuncModule</servlet-name>
		<servlet-class>com.zr.action.ShowFuncModuleAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>showFuncModule</servlet-name>
		<url-pattern>/showFuncModule</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>registeruser</servlet-name>
		<servlet-class>com.zr.action.RegisterUserAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registeruser</servlet-name>
		<url-pattern>/registeruser</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getRoles</servlet-name>
		<servlet-class>com.zr.action.GetRolesAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getRoles</servlet-name>
		<url-pattern>/getRoles</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getUsers</servlet-name>
		<servlet-class>com.zr.action.GetUsersAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getUsers</servlet-name>
		<url-pattern>/getUsers</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>updateUserRole</servlet-name>
		<servlet-class>com.zr.action.UpdateUserRoleAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateUserRole</servlet-name>
		<url-pattern>/updateUserRole</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getFuncs</servlet-name>
		<servlet-class>com.zr.action.GetFuncsAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getFuncs</servlet-name>
		<url-pattern>/getFuncs</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>addRole</servlet-name>
		<servlet-class>com.zr.action.AddRoleAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addRole</servlet-name>
		<url-pattern>/addRole</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>updateRoleFunc</servlet-name>
		<servlet-class>com.zr.action.UpdateRoleFuncAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateRoleFunc</servlet-name>
		<url-pattern>/updateRoleFunc</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addFunc</servlet-name>
		<servlet-class>com.zr.action.AddFuncAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addFunc</servlet-name>
		<url-pattern>/addFunc</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>getRolesTable</servlet-name>
		<servlet-class>com.zr.action.GetRolesTableAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getRolesTable</servlet-name>
		<url-pattern>/getRolesTable</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>getFids</servlet-name>
		<servlet-class>com.zr.action.GetFidsAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getFids</servlet-name>
		<url-pattern>/getFids</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getFuncsCombotree</servlet-name>
		<servlet-class>com.zr.action.GetFuncsCombotreeAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getFuncsCombotree</servlet-name>
		<url-pattern>/getFuncsCombotree</url-pattern>
	</servlet-mapping>  -->
	
</web-app>